:root {
  --color1: rgb(241, 241, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  width: 100%;
  height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.display {
  font-size: 2rem;
  margin: 1rem 0;
  font-family: sans-serif;
}

.container {
  width: 30rem;
  height: 30rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.4);
}
.row {
  display: flex;
  width: 100%;
  flex: 1;
}
.box:nth-child(2) {
  border-left: 5px solid var(--color1);
  border-right: 5px solid var(--color1);
}
.box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  resize: none;
  font-size: 3rem;
  font-weight: 600;
  font-family: sans-serif;
}
.row:nth-child(2) {
  border-top: 5px solid var(--color1);
  border-bottom: 5px solid var(--color1);
}
